.go-back > a > img{
	width: 2vw;
}

.go-next > a > img{
	width: 2vw;
}

.video-holder, .comment-holder{
	display: none;
}

.video-title{
	font-family: Comfortaa;
	font-weight: bold;
	margin-bottom: 2vw;
}

.lection-icons{
	float: right;
    color: #1C8800;
    font-weight: bold;
    font-style: italic;
}

#modal:target{
	top: 25vw !important;
	z-index: 10;
	position: fixed;
}

.upcoming{
	background: #d3d3d3;
}

.upcoming:hover{
	background: #d3d3d3;
}