<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="description" content="">
	<meta name="author" content="">
	<title>VSO</title>
	<!-- Fonts and Icons -->
	<link href="..//assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<!-- Bootstrap core CSS -->
	<link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<!-- CSS Files -->
    <link href="../assets/css/style.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel= "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>
<body>
	<div class="row g-0 p-lg-0 mt-lg-0">		
			<!-- Single lection content -->	
				<div class="tab-body-electronic position-relative">
					<div class="row g-0 align-items-center">
						<div class="col-lg-auto text-xxl text-lg-uppercase fw-bold pe-lg-2 me-lg-1 me-5">
							<img src="../assets/img/logo.png" class="logo-text">
						</div>
							<div class="col">
								<div class="text-uppercase text-title-test ms-5">
									<b>Тест - ИмЕ</b>
								</div>
							</div>
							<div class="col-auto">
								<div class="avatar-test-img">
									<img src="../assets/img/avatar2.png" class="avatar-test-img">
								</div>
							</div>
							<div class="col-auto align-self-center ps-4">
								<div class="user_name fw-bold lh-xs d-block">
									Ставри
									<br>
									Георгиев
								</div>
								<div class="role fw-normal lh-xs d-block text-xs text-warm-grey">
									Студент
								</div>
							</div>
						</div>
					</div>		
				</div>
			<!-- Single lection content END-->	

		
	</div>
	<!-- Bootstrap core JS Files -->
	<script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/main.js" type="text/javascript"></script>
	<script type= "text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
</body>
</html>